.axis text {
  font-size: 1em;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
path.line {
  fill: none;
  stroke: #7a85ca;
  stroke-width: 3px;
}
.getData {
  fill: #ffffff;
  cursor: pointer;
}
.getDataText {
  pointer-events: none;
  fill: #7a85ca;
  font-size: 1.2em;
}
.zoomOut {
  fill: #ffffff;
  cursor: pointer;
}
.zoomOutText {
  pointer-events: none;
  fill: #7a85ca;
  font-size: 1.2em;
}
.zoomInText {
  font-size: 1em;
}
.zoomOverlay {
  pointer-events: all;
  fill: none;
}
.band {
  fill: none;
  stroke-width: 1px;
  stroke: red;
}
.y1, .y2 {
  font-size: 1.4em;
}


