
  .axis text {
      font-family: sans-serif;
      font-size: 15px;
  }


  .axis path, .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
  }

  path.line {
      fill: none;
      stroke: steelblue;
      stroke-width: 3px;
  }
  .zoomOut {
      fill: #66a;
      cursor: pointer;
  }
  .zoomOutText {
      pointer-events: none;
      fill: #ccc;
  }
  .zoomOverlay {
      pointer-events: all;
      fill: none;
  }
  .band {
      fill: none;
      stroke-width: 1px;
      stroke: red;
  }
  .y1, .y2 {
      font-weight: bold;
      font-size: 20px;
      fill: black;
  }

