.cc_label {
  font-size: 14px;
}
.cc_text {
  font-size: 15px;
  font-style: normal;
}
.lake_photo_icon {
  display: block;
/*  margin: auto;*/
  margin-top: 15%;
  height: 60%;
  width: 60%;
}
.lakecc_header {
  color: black;
  margin: 0em;
}
#lakecc {
  border: 1px solid white;
  width: 960px;
}
.lakecc_class {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: 1px solid white;  
  width: 150px;
  height: 100px;
  margin: .75em;
}
