.cc_label {
  font-size: 1em;
}
.cc_text {
  font-size: 1em;
  font-style: normal;
}
.lake_photo_icon {
  display: block;
/*  margin: auto;*/
  margin-left: 20%;
  margin-top: 15%;
  height: 60%;
  width: 60%;
}
.lakecc_header {
  margin: 1em;
  font-size: 1.1em;
  text-decoration: underline;
}
#lakecc {
  border: 1px solid white;
  width: 50%;
  margin-bottom: 5em;
}
#updated {
	font-size: .8em;
	color: #F19F4D;
}
.lakecc_class {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: 1px solid white;  
  width: 150px;
  height: 100px;
  margin: .1em;
}
